body {
    background-color: #C14040;
    color: white;
    font-family: 'Bree Serif', serif;
    max-width: 1500px;
    margin: 1em auto;
}

li {
    list-style: none;
    margin: 1em 0;
}

/* Header */

.header {
    background-color: white;
    color: #C14040;
    border-radius: 2em;
    display: flex;
    justify-content: space-between;
    padding: 1.30rem 1em;
}

.sitename {
    font-size: 2rem;
}

.nav {
    padding: .5rem .3rem 0 0;
}

.nav a {
    padding: 0 .3rem;
}

.header a {
    color: inherit;
    text-decoration: none;
}

/* Main homePage */

#container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
}

.cardPokemon {
    margin-bottom: 2em;
    background-color: #982C2C;
    border-radius: 2em;
    padding: 1.2em;
    text-align: center;
}

.cardPokemon a {
    color: inherit;
    text-decoration: none;
}

.cardPokemon h2 {
    margin-top: 1em;
    font-size: 1.4rem;
}

/* Main detailPage */

.main_title_detail {
    text-align: center;
    font-size: 2rem;
    margin-top: 1em;
}

.pokemon_title {
    font-size: 1.6rem;
    margin: 1.7rem 0;

}

#main_detail {
    display: flex;
    max-width: 1000px;
    margin: 1.6em auto;
}

.type_detail {
    padding: .4rem .3rem;
    margin-right: .2rem;
    background-color: black;
    border-radius: .3rem;
}

.description {
    background-color: #AB3838;
    border-radius: 1em;
    margin-left: 1em;
    padding: 0 2em;
}

.description a {
    color: inherit;
    text-decoration: none;
}

.title_statistique {
    margin: 1.6rem 0;
}

#container_statistique {
    display: flex;
}

.carac_detail {
    width: 160px;
}

.valor_detail {
    width: 60px;
}

.jauge_detail {
    margin-top: 1em;
}

.barre {
    width: 255px;
    background-color: black;
    border: solid 1px black;
    height: 1em;
    border-radius: 1em;
    margin-bottom: .9rem;
}

.barre2 {
    display: inline-block;
    height: 1em;
    border-radius: 1em;
    background-color: white;
    width: 0;
}

.back_to_list {
    text-align: center;
    margin: 2em 0;
}

.back_to_list a {
    color: inherit;
    text-decoration: none;
}

/* Main TypesPage */

.title_types {
    margin: 2em 0;
}

#main_types a {
    color: inherit;
    text-decoration: none;
    margin: 0 .2rem;
}

/* Footer */

.footer {
    margin-top: 4em;
    text-align: center;
}